.nav ul li{
    display: inline-block;
    margin-left: 15px;
}
.nav ul li a{
    color: #000;
    text-decoration: none;
}
.nav ul li a svg{
    width: 23px;
    margin-left: 5px;
    vertical-align: middle;
}
