.svg-btn svg{
    width: 24px;
    height: 24px; 
    fill: #40454f;
    vertical-align: middle;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.svg-btn svg path{
    fill: #40454f; 
}
.btn-register{
    border: 1px solid #e0e0e2;
    background-color: transparent;
    color: #090909;
    padding: 7px 10px;
    text-decoration: none;
    display: inline-block;
    border-radius: 7px;
}